.container{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button{
  padding: 6px 13px;
  background-color: rgb(71, 104, 166);
  cursor: pointer;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 10px black;
}

.button:disabled{
  cursor: not-allowed;
}